* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

/*  HEADER  */

header {
    display: flex;
    background-color: blue;
}

li a.active,
li a:hover {
    background: #2089d7;
    transition: 0.5s;
    border: 1px solid black;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

.ImagenPrincipal {
    width: 100%;
}

/*  BODY  */

body {
    margin: 0;
    color: #14024c;
    background-color: #14024c;
}

.Parrafo-Productos {
    font-size: 1.5rem;
    color: #2089d7;
    padding: 8px;
    border-radius: 10px;
}

nav {
    background-color: #602798;
    height: 85px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 85px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

img {
    width: 100%;
}

.Articulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: clamp(300px, 30%, 400px);
}

.Articulo-Sony, .Articulo-Xbox, .Articulo-Razer {
    color: white;
    display: none;
}

#products-container {
    color: #2089d7;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1.5rem;
}

#cart-section {
    color: white;
    display: flex;
    text-align: center;
    width: 100%;
    gap: 1.5rem;
    background-color: #602798;
}

.Productos-Titulo, .Carrito-Titulo {
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
    color: #2089d7;
    animation: tracking-in-expand 1s 0.7s both;
}

/* FOOTER   */

.Footer {
    background-color: #602798;
    margin-top: 2rem;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer div {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Parrafo-Footer {
    font-size: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
    color: black;
}

.Horarios {
    font-size: 2rem;
    display: grid;
    color: black;
}

.Ubicacion {
    font-size: 2rem;
    display: grid;
    color: black;
    text-align: right;
    padding: 10px;
}

.Redes {
    display: flex;
}

.Redes1 {
    display: none;
}

.Facebook,
.Instagram,
.Whatsapp {
    width: 4rem;
}

/* TABLET */

@media (max-width: 1120px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .Articulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: clamp(300px, 30%, 400px);
    }

    footer div {
        justify-content: space-around;
        width: 100%;
        display: grid;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .Redes {
        display: none;
    }

    .Redes1 {
        display: flex;
    }

    .Horarios {
        font-size: 2rem;
        text-align: center;
        display: grid;
    }

    .Ubicacion {
        font-size: 2rem;
        text-align: center;
    }
}

