:root {
    --color-acento: red;
    --color-acento-claro: grey;
    --color-texto: black; 
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h3, p {
    margin: 6px 0;
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

/* HEADER */

a:hover:not(.cart) {
    color: var(--color-acento);
}

button {
    background-color: var(--color-acento);
    color: white;
    padding: 5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}


header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.075);
    padding: 10px 0;
    
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

header nav img {
    height: 25px;
}

#cuenta-carrito {
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;   
}

.logo {
    height: 40px;
}

.esconder {
    display: none;
}

/* FOOTER */

.Footer {
    background-color: #602798;
    margin-top: 2rem;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}

footer div {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Parrafo-Footer {
    font-size: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
    color: black;
}

.Horarios {
    font-size: 2rem;
    display: grid;
    color: black;
}

.Ubicacion {
    font-size: 2rem;
    display: grid;
    color: black;
    text-align: right;
    padding: 10px;
}

.Redes {
    display: flex;
}

.Redes1 {
    display: none;
}

.Facebook,
.Instagram,
.Whatsapp {
    width: 4rem;
}