
:root{
    --color-acento:#469cbe;
    --color-acento-claro: #2e4fb967;
    --color-texto: black;
  }
  
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #469cbe;
  }
  
  h3, p{
    margin: 5px;
  }
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
  }
  
  button{
    transition: 200ms;
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento-claro);
  }
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    font-size: larger;
  }
  
  header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
  }
  
  #logo{
    height: 40px;
    margin: 20px;
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  header nav img{
    height: 25px;
  }
  
  #cuenta-carrito{
    position: absolute;
    background-color: var(--color-acento-claro);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
  }
  
  .h1-titulo-inicio, .h1-titulo-carrito {
    text-align: center;
  }
  
  /* Footer */
  
  .Footer {
    background-color: var(--color-acento-claro);
    margin-top: 2rem;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
  }
  
  footer div {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .Parrafo-Footer {
    font-size: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
    color: black;
  }
  
  .Horarios {
    font-size: 2rem;
    display: grid;
    color: black;
  }
  
  .Ubicacion {
    font-size: 2rem;
    display: grid;
    color: black;
    text-align: right;
    padding: 10px;
  }
  
  .Redes {
    display: flex;
  }
  
  .Redes1 {
    display: none;
  }
  
  .Facebook,
  .Instagram,
  .Whatsapp {
    width: 4rem;
  }
  
  
  /* TABLET - MOBILE */
  @media (max-width: 1120px) {
    footer div {
      justify-content: space-around;
      width: 100%;
      display: grid;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .Redes {
      display: none; }
    .Redes1 {
      display: flex; }
    .Horarios {
      font-size: 2rem;
      text-align: center;
      display: grid; }
    .Mapa {
      display: flex;
      margin: auto; }
    .Ubicacion {
      font-size: 2rem;
      text-align: center; }
  }
  
  