* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

.ImagenPrincipal {
    width: 100%;
    display: flex;
}

header {
    display: flex;
    background-color: #00aaa3;
}

li a.active,
li a:hover {
    background: #00aaa3;
    transition: 0.5s;
    border: 1px solid black;
    color: red;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

.encabezado {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #00aaa3;
}
.encabezado .Menu__list {
    float: right;
    margin-right: 20px;
}
.encabezado .Menu__list__item {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

body {
    margin: 0;
    color: #14024c;
    background-color: #14024c;
}

.Parrafo-Productos {
    font-size: 1.5rem;
    color: #2089d7;
    padding: 8px;
    border-radius: 10px;
}

.Seccion {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.Seccion {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 0 1rem;
}

nav {
    background-color: #038e83;
    height: 85px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 85px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.Footer {
    background-color: black;
    margin-top: 2rem;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer div {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Parrafo-Footer {
    font-size: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
    color: white;
}

.Horarios {
    font-size: 2rem;
    display: grid;
    color: white;
}

.Ubicacion {
    font-size: 2rem;
    display: grid;
    color: white;
    text-align: right;
    padding: 10px;
}

.Redes {
    display: flex;
}

.Redes1 {
    display: none;
}

.Facebook,
.Instagram,
.Whatsapp {
    width: 4rem;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 100%;
}

.Articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: clamp(300px, 30%, 400px);
}

.Productos-Titulo {
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
    color: #2089d7;
    animation: tracking-in-expand 1s 0.7s both;
}
